VITE_SUPABASE_URL=https://ndunfqmhwahylrvkdllc.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im5kdW5mcW1od2FoeWxydmtkbGxjIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzMyMDQyOTAsImV4cCI6MjA4ODc4MDI5MH0.VQfSvdGDMXETdgq4kQqVfNRd7yVui5WpW_ORW-blAa4
VITE_VAPID_PUBLIC_KEY=BNai26ozYWRIn9ryl1a1vfzwGj57msUbjPbVhUJpZtQKPRELE9ybxTpve05gkIA3Wik8V4zvrj2cdy-yyBAcEUo
VAPID_PRIVATE_KEY=Cwfd3Uk0-ZkghHH1drdKrfV9LY1u6jdCA1D70WK_Do8s